*,
html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cornsilk;
  padding: 2rem;
}

.container {
  max-width: 600px;
  min-height: 800px;
  padding: 1rem;
  margin: 0 auto;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 10px;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
}

form {
  display: flex;
  align-items: center;
}

form > * {
  margin: 0 0.5rem;
}

input {
  flex-grow: 1;
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
}

ul {
  list-style-type: none;
  padding: 2rem;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}
